<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TITLES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var ans = {{ans}}
    </script>
</head>
<body>
    <form method="POST">
        <div>
            <h3 style="display:inline-block">Enter the doctor's specialization</h3>
            <input name="text" placeholder="Specialization">
        </div>
    </form>
    <div >
            {{ans}}
    </div><br>
    </div>
</body>
</html>